[submodule "ScientificPython"]
	path = ScientificPython
	url = ../../nsmith-/2025-09-15-hsf-india-tutorial-chandigarh.git
[submodule "hsf-india-ml-tutorial-2025-09"]
	path = MachineLearning
	url = ../../gordonwatts/hsf-india-ml-tutorial-2025-09.git
[submodule "AdvancedML"]
	path = AdvancedML
	url = ../../livaage/hsf-india-chandigarh-ml.git
